# doc artifacts
docs/build

# db artifacts
db

# jupyter artifacts
examples/.ipynb_checkpoints

# julia project Manifests
Manifest.toml
*/Manifest.toml

# julia preference files
LocalPreferences.toml

# code coverage reports
*.cov
lcov.info

# PProf artifacts
*.pb.gz

*.vscode

# ssh keys
id_*
